<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BE Blog</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <h2><a href="/">Our Wonderful App</a></h2>
        <nav>
            <a href="/login">Log In</a>
        </nav>
    </header>


    <main>
        <fieldset>
            <legend>Create an account</legend>
            <label for="usernmae"><small>Username</small></label>
            <input type="text" id="username">

            <br/>

        </fieldset>
    </main>


    <footer>
        <small>&copy; Our Wodner full app</small>
    </footer>

</body>
</html>